.product_card {
    display: flex;
    flex-direction: column;

    .product_card_markers {

      img {
        float: right;
        margin-bottom: 12px;
        cursor: pointer;
      }

      span {
        background: #EB8528;
        color: #FFFFFF;
        border-radius: 10px;
        padding: 2px 10px 5px 10px;
        text-align: center;
      }

    }

    .product_card_name {
      flex-grow: 1;
      margin-top: 10px;
    }

    .product_card_bottom {

      span {
        color: #B9B9B9;
        margin-top: 20px;
      }

      button {
        width: 145px;
        height: 40px;
        border-radius: 10px;
        margin-top: 10px;
        font-size: 18px;
      }
      
      button:hover {
        background-color: #28970C;
      }
      
      button:focus {
        background-color: #53DC2F;
      }
    }
  }

