body {
  margin: 0;
  font-family: roboto, system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FBFBFB;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.wrapper {
  max-width: 1920px;
  margin: 13px auto;
  padding-left: 50px;
  padding-right: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .headerCity {
    display: flex;
    align-items: center;

    p, img {
      margin: 0;
    }

    p {
      margin-left: 6px;
      margin-right: 4px;
      font-weight: 400;
      font-size: 14px;
    }
  }

  .headerCatalogue {

    button {
      background: #2CB708;
      border-radius: 5px;
      height: 40px;
      max-width: 123px;
      padding: 10px 18px;
      border: none;
      color: #FFFFFF;
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    p {
      margin: 0;
      margin-left: 5px;
      font-weight: 400;
      font-size: 18px;
    }
  }

  .headerSearch {
    max-width: 419px;
    display: flex;
    width: 100%;
    margin-left: 35px;

    input {
      width: 100%;
      background: #FFFFFF;
      border: 1px solid #2CB708;
      border-radius: 10px 0px 0px 10px;
      padding: 10px 0px 10px 24px;
      border-right: none;

      ::placeholder {
        color: #B9B9B9;
        font-weight: 400;
        font-size: 16px;
      }
    }

    button {
      background: #2CB708;
      border-radius: 0px 10px 10px 0px;
      border: 1px solid #2CB708;
      width: 41px;
      height: 40px;
      cursor: pointer;
    }

    img {
      position: relative;
      text-align: center;
    }
  }

  .headerRight {
    display: flex;
  }

  li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 35px;

    span {
    }
  }
}
