
body {
  margin: 0;
  font-family: roboto, system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FBFBFB;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

p, a {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #333232;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  color: #333232;
}

button {
  background: #2CB708;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
}

.overlay {
  width: 100%;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.wrapper {
  max-width: 1920px;
  margin: 13px auto;
  padding-left: 50px;
  padding-right: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .headerCity {
    display: flex;
    align-items: center;

    p, img {
      margin: 0;
    }

    img {
      cursor: pointer;
    }

    p {
      margin-left: 6px;
      margin-right: 4px;
      font-weight: 400;
      font-size: 14px;
    }
  }

  .headerCatalogue {

    button {
      border-radius: 5px;
      height: 40px;
      max-width: 123px;
      padding: 10px 18px;
      display: flex;
      align-items: center;
      margin-left: 45px;
    }

    p {
      margin-left: 5px;
      font-weight: 400;
      font-size: 18px;
      color: #FFFFFF;
    }
  }

  .headerSearch {
    max-width: 419px;
    display: flex;
    width: 100%;
    margin-left: 35px;

    input {
      width: 100%;
      background: #FFFFFF;
      border: 1px solid #2CB708;
      border-radius: 10px 0px 0px 10px;
      padding: 10px 0px 10px 24px;
      border-right: none;

      ::placeholder {
        color: #B9B9B9;
        font-weight: 400;
        font-size: 16px;
      }
    }

    button {
      border-radius: 0px 10px 10px 0px;
      border: 1px solid #2CB708;
      width: 45px;
      height: 40px;
    }
  }

  .headerRight {
    display: flex;
    gap: 45px;
    margin-left: 45px;

    span {
      background: #2CB708;
      position: absolute;
      color: #FFFFFF;
      border-radius: 20px;
      padding: 2px 6px;
      vertical-align: top;
      font-size: 10px;
      margin-left: -8px;
    }
  }

  li {
    text-align: center;
    flex-wrap: wrap;
    cursor: pointer;
  }
}

.content {
  margin-top: 80px;

  .categories {
    display: flex;
    justify-content: space-between;

    .large-card {
      background: #FCFFFC;
      box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
    }
  }

  .popular, .bestseller, .views-based, .sponsored, .brands, .shops {
    margin-top: 80px;

    h1 {
      color: #333232;
    }

    .popular-items, .bestseller-items, .views-based-items, .sponsored-items {
      display: flex;
      justify-content: space-between;
      margin-top: 45px;
      gap: 15px;

    }

    .show-more-btn {
      background: #EFEFEF;
      color: #000000;
      border-radius: 10px;
      width: 100%;
      height: 50px;
      margin-top: 40px;
      font-size: 16px;
    }

    .brands-row, .shops-row {
      display: flex;
      flex-direction: row;
      margin-top: 40px;
      justify-content: space-between;

      button {
        background: #EFEFEF;
        border-radius: 10px;
        color: #333232;
        width: 187px;
        font-size: 16px;
      }
    }
  }

  .browsed {
    margin-top: 93px;

    .browsed-top {
      display: flex;
      flex-direction: row;

      .navigate-buttons {
        margin-left: auto; 
        margin-right: 0;
      }

      button {
        background-color: #FAFAFA;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        width: 40px;
        height: 40px;
        margin-left: 13px;
      }
    }

    .browsed-items {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;

      .product-card {
        padding: 5px;
      }

      .product-card:focus, .product-card:hover {
        background-color: #FFFFFF;
        box-shadow: 3px 2px .4em rgba(0, 0, 0, 0.1);
        cursor: pointer;
        border-radius: 10px;
      } 
    }
  }
}

footer {
  background: #EEF1F2;
  padding: 80px 50px;
  display: flex;
  flex-direction: row;
  margin-top: 80px;

  .footer-left {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    ul {
      li {
        margin-top: 20px;
  
        a {
          color: #818181;
        }
      }
    }

  }

  .footer-right {
    display: flex;
    flex-direction: column;
    margin-left: auto;

    p {
      margin-left: auto;
      margin-top: 20px;
      color: #B9B9B9;
    }

    .social-network-group {
      margin-left: auto;
      margin-top: 20px;
      display: flex;
      gap: 20px
    }
  }
}